@import 'https://fonts.googleapis.com/css?family=Lato';

html, body {
  margin: 0px;
  padding: 0px;
  background: #333/*#E4DDE2*/;
  color: white;
}

ul {
  font-family: 'Lato', sans-serif;
  -webkit-app-region: drag;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-bottom: 1px solid #444;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  -webkit-app-region: no-drag;
}

li a:hover {
  background-color: #111;
  -webkit-app-region: no-drag;
}

li p {
  padding-left: 20px;
}
